@import url('https://fonts.googleapis.com/css2?family=Fustat:wght@200..800&family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Fustat:wght@200..800&family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');

html {
  // Fluid font-size: scales smoothly between 14px and 16px depending on screen width
  font-size: 100%; 
  
  @include respond-to('tablet') {
    font-size: 90%; // ~14.4px
  }
  @include respond-to('phone') {
    font-size: 85%; // ~13.6px
  }
}

body {
  font-family: $font-family-base;
  line-height: 1.6;
  color: $color-text-main;
}

h1, h2, h3 {
  line-height: 1.2;
  margin-bottom: 1rem;
}

h1 { font-size: 3.052rem; }
h2 { font-size: 2.441rem; }
h3 { font-size: 1.953rem; }

// Adjust headings for smaller screens
@include respond-to('tablet') {
  h1 { font-size: 2.5rem; }
  h2 { font-size: 2rem; }
}

.section-title {
  text-align: center;
  margin-bottom: 3rem;
  color: $color-bg-dark;
}

.ar-text {
    font-family: 'Cairo', sans-serif;
    direction: rtl;
    display: inline-block;
}

.nav__link {
    text-align: center;
    font-size: 0.9em;
}